#include "resource.h"
#include <windows.h>
#include <commctrl.h>

// Main dialog
IDD_MAIN_DIALOG DIALOGEX 0, 0, 400, 250
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Advanced Flooder - Inactive"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Process Name:",IDC_PROCESS_LABEL,7,7,54,8
    COMBOBOX        IDC_PROCESS_COMBO,65,7,100,200,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Reload",IDC_PROCESS_RELOAD,170,7,50,14
    CONTROL         "Use by process",IDC_USE_PROCESS_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,230,7,70,10
    
    LTEXT           "Status:",IDC_STATIC,310,7,25,8
    LTEXT           "Inactive",IDC_STATUS_LABEL,340,7,35,8
    
    EDITTEXT        IDC_MESSAGE_TEXT,7,30,386,120,ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL
    
    LTEXT           "Max Messages:",IDC_STATIC,7,160,54,8
    EDITTEXT        IDC_MAX_MESSAGES,65,158,50,14,ES_AUTOHSCROLL | ES_NUMBER
    
    LTEXT           "Delay (ms):",IDC_DELAY_LABEL,130,160,40,8
    EDITTEXT        IDC_DELAY_INPUT,175,158,50,14,ES_AUTOHSCROLL | ES_NUMBER
    
    LTEXT           "Sent Messages:",IDC_COUNT_LABEL,7,180,54,8
    LTEXT           "0",IDC_CURRENT_COUNT,65,180,50,8
    
    PUSHBUTTON      "About",IDC_ABOUT_BUTTON,7,210,50,23
    PUSHBUTTON      "Start Thread",IDC_START_BUTTON,280,210,50,23
    PUSHBUTTON      "Stop Thread",IDC_STOP_BUTTON,340,210,50,23
END

// Icon
IDI_MAIN_ICON ICON "icon.ico"